body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 30px;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

button {
  width: 30% ;
  margin: 10px;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
}
